/.vscode
/.idea
**/__pycache__/**
**/*.pyc
*.cfg
*.log
EyeTrackApp/venv
EyeTrackApp/eyetrack_settings.json
EyeTrackApp/eyetrack_settings.backup
EyeTrackApp/build
EyeTrackApp/dist
build
dist
EyeTrackApp/IBO_LEFT.png
EyeTrackApp/IBO_RIGHT.png

EyeTrackApp/IBO_LEFT.png
EyeTrackApp/IBO_RIGHT.png
**/desktop.ini
FM-{0EC49B04-AC9A-42B4-9433-3F0D06A844A6}.ico
*.avi
*.mp4
EyeTrackApp/EBPD_LEFT.png
